@page "/timeslots/details"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Timeslot</h2>
    <hr />
    @if (timeslot is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@timeslot.Description</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@timeslot.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@timeslot.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@timeslot.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@timeslot.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/timeslots/edit?id={timeslot.Id}")">Edit</a> |
            <a href="@($"/timeslots")">Back to List</a>
        </div>
    }
</div>

@code {
    private Timeslot? timeslot;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        timeslot = await context.Timeslot.FirstOrDefaultAsync(m => m.Id == Id);

        if (timeslot is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
