@page "/sportlocationtimeslots/details"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>SportLocationTimeslot</h2>
    <hr />
    @if (sportlocationtimeslot is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SportLocationId</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.SportLocationId</dd>
            <dt class="col-sm-2">TimeslotId</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.TimeslotId</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.Price</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@sportlocationtimeslot.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/sportlocationtimeslots/edit?id={sportlocationtimeslot.Id}")">Edit</a> |
            <a href="@($"/sportlocationtimeslots")">Back to List</a>
        </div>
    }
</div>

@code {
    private SportLocationTimeslot? sportlocationtimeslot;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        sportlocationtimeslot = await context.SportLocationTimeslots.FirstOrDefaultAsync(m => m.Id == Id);

        if (sportlocationtimeslot is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
