@page "/sportlocationtimeslots/edit"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>SportLocationTimeslot</h2>
<hr />
@if (SportLocationTimeslot is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="SportLocationTimeslot" OnValidSubmit="UpdateSportLocationTimeslot" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="SportLocationTimeslot.Id" value="@SportLocationTimeslot.Id" />

                <!-- SportLocationId -->
                <div class="mb-3">
                    <label for="sportlocationid" class="form-label">Sport Location:</label>
                    <InputSelect id="sportlocationid" @bind-Value="SportLocationTimeslot.SportLocationId" class="form-control">
                        <option value="">-- Select Sport Location --</option>
                        @if (SportLocations != null)
                        {
                            foreach (var sportLocation in SportLocations)
                            {
                                <option value="@sportLocation.Id">
                                    @sportLocation.Sport.Name, @sportLocation.Location.Name
                                </option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => SportLocationTimeslot.SportLocationId" class="text-danger" />
                </div>

                <!-- TimeslotId -->
                <div class="mb-3">
                    <label for="timeslotid" class="form-label">Timeslot:</label>
                    <InputSelect id="timeslotid" @bind-Value="SportLocationTimeslot.TimeslotId" class="form-control">
                        <option value="">-- Select Timeslot --</option>
                        @if (Timeslots != null)
                        {
                            foreach (var timeslot in Timeslots)
                            {
                                <option value="@timeslot.Id">@timeslot.Description</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => SportLocationTimeslot.TimeslotId" class="text-danger" />
                </div>

                <!-- Price -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="SportLocationTimeslot.Price" class="form-control" />
                    <ValidationMessage For="() => SportLocationTimeslot.Price" class="text-danger" />
                </div>

                <!-- DateCreated -->
                <div class="mb-3" >
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="SportLocationTimeslot.DateCreated" class="form-control" />
                    <ValidationMessage For="() => SportLocationTimeslot.DateCreated" class="text-danger" />
                </div>

                <!-- DateUpdated -->
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="SportLocationTimeslot.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => SportLocationTimeslot.DateUpdated" class="text-danger" />
                </div>

                <!-- CreatedBy -->
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="SportLocationTimeslot.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => SportLocationTimeslot.CreatedBy" class="text-danger" />
                </div>

                <!-- UpdatedBy -->
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="SportLocationTimeslot.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => SportLocationTimeslot.UpdatedBy" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/sportlocationtimeslots">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    private SportLocationTimeslot SportLocationTimeslot { get; set; } = new();
    private IList<SportLocation> SportLocations { get; set; } = new List<SportLocation>();
    private IList<Timeslot> Timeslots { get; set; } = new List<Timeslot>();

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        SportLocationTimeslot = await context.SportLocationTimeslots
            .FirstOrDefaultAsync(m => m.Id == Id);

        if (SportLocationTimeslot is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        SportLocations = await context.SportLocation
            .Include(s => s.Sport)      // Include Sport details
            .Include(s => s.Location)   // Include Location details
            .ToListAsync();

        Timeslots = await context.Timeslot.ToListAsync();
    }

    private async Task UpdateSportLocationTimeslot()
    {
        using var context = DbFactory.CreateDbContext();

        //Set the userId to the UpdatedBy fields.
        SportLocationTimeslot.UpdatedBy = userId;
        //Set the DateUpdated fields to the current date and time.
        SportLocationTimeslot.DateUpdated = DateTime.Now;

        context.Attach(SportLocationTimeslot!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!SportLocationTimeslotExists(SportLocationTimeslot!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/sportlocationtimeslots");
    }

    private bool SportLocationTimeslotExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.SportLocationTimeslots.Any(e => e.Id == id);
    }
}
