@page "/bookings/details"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Bookings</h2>
    <hr />
    @if (bookings is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SportName</dt>
            <dd class="col-sm-10">@bookings.SportName</dd>
            <dt class="col-sm-2">LocationName</dt>
            <dd class="col-sm-10">@bookings.LocationName</dd>
            <dt class="col-sm-2">TimeslotDescription</dt>
            <dd class="col-sm-10">@bookings.TimeslotDescription</dd>
            <dt class="col-sm-2">SportId</dt>
            <dd class="col-sm-10">@bookings.SportId</dd>
            <dt class="col-sm-2">LocationId</dt>
            <dd class="col-sm-10">@bookings.LocationId</dd>
            <dt class="col-sm-2">TimeslotId</dt>
            <dd class="col-sm-10">@bookings.TimeslotId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@bookings.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@bookings.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@bookings.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@bookings.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/bookings/edit?id={bookings.Id}")">Edit</a> |
            <a href="@($"/bookings")">Back to List</a>
        </div>
    }
</div>

@code {
    private Bookings? bookings;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bookings = await context.Bookings.FirstOrDefaultAsync(m => m.Id == Id);

        if (bookings is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
